* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color:black;
}

button {
    background-color: black;
    color:yellow;
}

h2 {
    color: yellow;
    font-size:100px;
    line-height:2em;
}